.inspector {
  margin-top: var(--spacing-l);
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: var(--spacing-s);
  border-bottom: 1px solid var(--light-borders-color);
}
.layout {
  display: flex;
  gap: var(--spacing-l);
  align-items: flex-start;
}
.activities {
  display: flex;
  gap: var(--spacing-l);
}
.column {
  flex: 1;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
